.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  border: 2px solid #ccc;
}

.centered-div {
    width: 75%;
    height: 75%;
    background-color: #0095fd;
    border: 5px dashed #0f52ba;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    font-family: sans-serif;
    font-weight: bold;
}

body {
  background-color: red;
}



h1 {
    font-family: sans-serif;
  font-size: 10dvh;
  -webkit-text-stroke-width: 1px; /* Width of the outline */
  -webkit-text-stroke-color: black;
}

hr {
  border: none; /* Removes the default 3D border effect */
  height: 1px; /* Sets the height of the line */
    border-top: 3px dashed #ffffff;
  margin: 20px 0; /* Adds space above and below the line */
}

.section1, .section2 {
  flex: 1; /* Distributes equal width to both sections */
  padding: 10px;
  box-sizing: border-box; /* Ensures padding/borders don't add to the width */
}

.container {
  display: flex;
  height: 10vh;
}