.navbar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    position: sticky;
    top: 0px;
    padding: 10px 20px;

    background-color: aquamarine;

    user-select: none;
    -webkit-user-select: none;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-list li {
    margin-right: 10px;
}

.navbar-list li:last-child {
    margin-right: 0;
}

.navbar-list a {
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar-list li a:hover {
    background-color: blue;
}

.main {
    display: flexbox;
}

.main-header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px 0;
}

.header-container {
  display: flex;
  align-items: center;
  /* This pushes the logo to the left and the nav to the right */
  justify-content: space-between; 
  
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo img {
  height: 40px;
  display: block;
  margin-right: 40px; /* Space between logo and first menu item */
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}