.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
    flex-shrink: 0;
}

.logo__img {
    display: block;
    height: 40px;
    width: auto;
}

.nav-menu {
    margin-left: auto;
    padding: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}