.navbar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    position: sticky;
    top: 0px;
    padding: 10px 20px;

    background-color: aquamarine;

    user-select: none;
    -webkit-user-select: none;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-list li {
    margin-right: 10px;
}

.navbar-list li:last-child {
    margin-right: 0;
}

.navbar-list a {
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar-list li a:hover {
    background-color: blue;
}

.main {
    display: flexbox;
}