.container {
  display: flex; 
}

.desc {  
    flex: 1;
    padding: 20px;
    background-color: lightcyan;
}

.circle-image:hover {
    background-color: black;
}

.overlay {
    height: 200px; 
    width: 200px;
    opacity: 1;
    position: relative;
    bottom: 0;
    z-index: 2;
    display: block;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  height: 400px;
  width: 400px;
}
.image2 {
  margin: 100px 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 200px;
  width: 200px;
}

.image2:active{
  transform: scale(1.25);
}

.hall {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.click {
    position: absolute;
    top: 20px;
    left: 250px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

.check {
    position: absolute;
    height: 20px;
    width: 20px;
}