/* navigation  bar */
.navbar {
    position: sticky;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: hotpink;
}

.navbar ul { 
    display: flex;
    list-style-type: none;
}

.navbar a {
    padding: 15px;
    display: block;
    text-align: center;
}