body {
    background-color: lime;
}

/* prevents highlight */
.no-high {
  -webkit-user-select: none;
  user-select: none;
}

/* navigation bar */
.navbar {
    position: sticky;
    top: 0;
    justify-content: space-between;
    display: flex;
   
    padding: 0 20px;
    align-items: center;
    background-color: hotpink;
}

.navbar ul { 
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    padding: 15px;
    display: block;
    text-align: center;
    user-select: none;
}