.container {
  display: flex;
}

.desc {
  flex: 1;
  padding: 20px;
  background-color: lightcyan;
}

.desc hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

.overlay {
  height: 200px;
  width: 200px;
  opacity: 1;
  position: relative;
  bottom: 0;
  z-index: 2;
  display: block;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  height: 400px;
  width: 400px;
}

.image2 {
  margin: 100px 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 200px;
  width: 200px;
}

.image2:active {
  transform: scale(1.25);
}

.hall {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.click {
  position: absolute;
  top: 20px;
  left: 250px;
}

.flex {
  display: flex;
}

.check-icon {
  position: relative;
  bottom: 3px;
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(22%) sepia(96%) saturate(2088%) hue-rotate(102deg) brightness(99%) contrast(104%);
}

.close-icon {
  position: relative;
  bottom: 3px;
  width: 24px;
  height: 24px;
filter: brightness(0) saturate(100%) invert(14%) sepia(100%) saturate(3943%) hue-rotate(340deg) brightness(82%) contrast(108%);
}